/* this is the onedark laf json in css so intellij can show color previews*/
:root {
    --author: 'Mark Skelton';
    --colors-accent-color: #568AF2;
    --colors-background-color: #21252b;
    --colors-border-color: #333841;
    --colors-foreground-color: #abb2bf;
    --colors-info-foreground: #7e8491;
    --colors-notification-background: #3d424b;
    --colors-selection-background: #323844;
    --colors-selection-foreground: #d7dae0;
    --dark: true;
    --editor-scheme: "/themes/one_dark_xml";
    --icons-color-palette-checkbox_background_default_dark: #282c34;
    --icons-color-palette-checkbox_background_disabled_dark: #21252b;
    --icons-color-palette-checkbox_border_default_dark: #414855;
    --icons-color-palette-checkbox_border_disabled_dark: #2c313a;
    --icons-color-palette-checkbox_focus_thin_default_dark: #568AF2;
    --icons-color-palette-checkbox_focus_thin_selected_dark: #568AF2;
    --icons-color-palette-checkbox_focus_wide_dark: #568AF2;
    --icons-color-palette-checkbox_foreground_disabled_dark: #5c6370;
    --icons-color-palette-checkbox_foreground_selected_dark: #abb2bf;
    --name: 'One Dark';
    --ui__accelerator-foreground: #E6E6E6;
    --ui__accelerator-selection-foreground: #E6E6E6;
    --ui__background: backgroundColor;
    --ui__border-color: #333841;
    --ui__disabled-background: backgroundColor;
    --ui__disabled-border-color: #2d3137;
    --ui__error-foreground: #cd3359;
    --ui__focus-color: backgroundColor;
    --ui__focused-border-color: accentColor;
    --ui__foreground: #abb2bf;
    --ui__inactive-background: backgroundColor;
    --ui__info-foreground: #5c6370;
    --ui__selection-background-inactive: #2c313a;
    --ui__selection-background-os_default: selectionBackground;
    --ui__selection-background-os_mac: selectionBackground;
    --ui__selection-background-os_windows: selectionBackground;
    --ui__selection-foreground-os_default: selectionForeground;
    --ui__selection-foreground-os_mac: selectionForeground;
    --ui__selection-foreground-os_windows: selectionForeground;
    --ui__selection-inactive-background: #2c313a;
    --ui__separator-color: #32363c;
    --ui-action-button-hover-background: #3d424b;
    --ui-action-button-hover-border-color: #3d424b;
    --ui-action-button-pressed-background: #3f444d;
    --ui-action-button-pressed-border-color: #3f444d;
    --ui-bookmark-icon_background: #d9a343;
    --ui-bookmark-mnemonic-assigned-background: #4d78cc;
    --ui-bookmark-mnemonic-assigned-border-color: #4d78cc;
    --ui-bookmark-mnemonic-assigned-foreground: #ffffff;
    --ui-bookmark-mnemonic-available-background: #3d424b;
    --ui-bookmark-mnemonic-available-border-color: borderColor;
    --ui-bookmark-mnemonic-available-foreground: #a0a7b4;
    --ui-bookmark-mnemonic-current-background: #323844;
    --ui-bookmark-mnemonic-current-border-color: accentColor;
    --ui-bookmark-mnemonic-current-foreground: #a0a7b4;
    --ui-bookmark-mnemonic-icon-background: #3d424b;
    --ui-bookmark-mnemonic-icon-border-color: accentColor;
    --ui-bookmark-mnemonic-icon-foreground: #a0a7b4;
    --ui-borders-color: #333841;
    --ui-borders-contrast-border-color: #333841;
    --ui-button-default-end-background: accentColor;
    --ui-button-default-end-border-color: accentColor;
    --ui-button-default-focus-color: #4269b9;
    --ui-button-default-focused-border-color: #4269b9;
    --ui-button-default-foreground: #ffffff;
    --ui-button-default-start-background: accentColor;
    --ui-button-default-start-border-color: accentColor;
    --ui-button-end-background: #3d424b;
    --ui-button-end-border-color: #464c55;
    --ui-button-focused-border-color: #646a73;
    --ui-button-foreground: #a0a7b4;
    --ui-button-shadow-color: backgroundColor;
    --ui-button-start-background: #3d424b;
    --ui-button-start-border-color: #464c55;
    --ui-combo-box-arrow-button-disabled-icon-color: #2c313a;
    --ui-combo-box-arrow-button-icon-color: #abb2bf;
    --ui-combo-box-arrow-button-non-editable-background: #333841;
    --ui-combo-box-background: #333841;
    --ui-combo-box-non-editable-background: #333841;
    --ui-combo-box-selection-background: #4d78cc;
    --ui-combo-popup_border: 1, 1, 1, 1, #2d3137;
    --ui-completion-popup-background: #3d424b;
    --ui-completion-popup-match-foreground: accentColor;
    --ui-completion-popup-selection-background: #2c313a;
    --ui-complex-popup-header-background: backgroundColor;
    --ui-component-error-focus-color: #802d43;
    --ui-component-inactive-error-focus-color: #522530;
    --ui-component-inactive-warning-focus-color: #47441f;
    --ui-component-warning-focus-color: #8c812b;
    --ui-counter-background: #3d424b;
    --ui-counter-foreground: #abb2bf;
    --ui-default-tabs-hover-background: #323844;
    --ui-default-tabs-inactive-underline-color: #4269b9;
    --ui-default-tabs-underline-color: accentColor;
    --ui-drag-and-drop-area-background: #323844;
    --ui-drag-and-drop-area-border-color: #333841;
    --ui-drag-and-drop-area-foreground: #abb2bf;
    --ui-editor-background: #282c34;
    --ui-editor-foreground: #abb2bf;
    --ui-editor-pane_inactive-background: #282c34;
    --ui-editor-search-field-background: #282c34;
    --ui-editor-shortcut-foreground: accentColor;
    --ui-editor-tabs-underlined-tab-background: #3d424b;
    --ui-editor-tool-tip-background: #323844;
    --ui-file-color-blue: #24354f;
    --ui-file-color-green: #293a24;
    --ui-file-color-orange: #3d3026;
    --ui-file-color-rose: #3d1e2b;
    --ui-file-color-violet: #2d1942;
    --ui-file-color-yellow: #3d3026;
    --ui-got-it-tooltip-background: #3d424b;
    --ui-got-it-tooltip-border-color: #53565f;
    --ui-got-it-tooltip-foreground: #abb2bf;
    --ui-got-it-tooltip-link-foreground: #6494ed;
    --ui-got-it-tooltip-shortcut-foreground: infoForeground;
    --ui-label-info-foreground: infoForeground;
    --ui-label-success-foreground: #89ca78;
    --ui-lesson-tooltip_background: #3d424b;
    --ui-lesson-tooltip_foreground: #ffffff;
    --ui-lesson-tooltip_span-background: accentColor;
    --ui-link-active-foreground: #6494ed;
    --ui-link-hover-foreground: #6494ed;
    --ui-link-pressed-foreground: #6494ed;
    --ui-link-visited-foreground: #6494ed;
    --ui-list-selection-background: #4d78cc;
    --ui-list-selection-foreground: #ffffff;
    --ui-main-toolbar-background: backgroundColor;
    --ui-main-toolbar-dropdown-hover-background: #3d424b;
    --ui-main-toolbar-inactive-background: #282c34;
    --ui-memory-indicator-allocated-background: #304676;
    --ui-memory-indicator-used-background: #3a5a9c;
    --ui-notification-background: notificationBackground;
    --ui-notification-border-color: #53565f;
    --ui-notification-error-background: #4d232e;
    --ui-notification-error-border-color: #692746;
    --ui-notification-error-foreground: #abb2bf;
    --ui-notification-more-button-background: #2f343c;
    --ui-notification-more-button-inner-border-color: #53565f;
    --ui-notification-tool-window-error-background: #802d43;
    --ui-notification-tool-window-error-border-color: #552029;
    --ui-notification-tool-window-error-foreground: #abb2bf;
    --ui-notification-tool-window-informative-background: #2e4280;
    --ui-notification-tool-window-informative-border-color: #252555;
    --ui-notification-tool-window-informative-foreground: #abb2bf;
    --ui-notification-tool-window-warning-background: #735822;
    --ui-notification-tool-window-warning-border-color: #5f4422;
    --ui-notification-tool-window-warning-foreground: #abb2bf;
    --ui-notifications-toolwindow_new-notification_background: notificationBackground;
    --ui-notifications-toolwindow_new-notification_hover-background: #3d424b;
    --ui-notifications-toolwindow_notification_hover-background: #3d424b;
    --ui-panel_background: backgroundColor;
    --ui-parameter-info-background: #3d424b;
    --ui-parameter-info-current-parameter-foreground: #ffffff;
    --ui-parameter-info-foreground: #abb2bf;
    --ui-parameter-info-info-foreground: #5c6370;
    --ui-plugins-background: backgroundColor;
    --ui-plugins-button-install-border-color: accentColor;
    --ui-plugins-button-install-fill-background: accentColor;
    --ui-plugins-button-install-fill-foreground: #ffffff;
    --ui-plugins-button-install-foreground: accentColor;
    --ui-plugins-button-update-background: accentColor;
    --ui-plugins-button-update-border-color: accentColor;
    --ui-plugins-button-update-foreground: #ffffff;
    --ui-plugins-disabled-foreground: #5c6370;
    --ui-plugins-hover-background: #323844;
    --ui-plugins-light-selection-background: #323844;
    --ui-plugins-search-field-background: #282c34;
    --ui-plugins-search-field-border-color: #1b1d21;
    --ui-plugins-section-header_background: #414855;
    --ui-plugins-tab-hover-background: #323844;
    --ui-plugins-tab-selected-background: #323844;
    --ui-plugins-tab-selected-foreground: #abb2bf;
    --ui-plugins-tag-background: #414855;
    --ui-plugins-tag-foreground: #abb2bf;
    --ui-popup-advertiser-border-color: #2d3137;
    --ui-popup-advertiser-foreground: #5c6370;
    --ui-popup-background: #282c34;
    --ui-popup-border-color: #21252b;
    --ui-popup-header_active-background: #414855;
    --ui-popup-header_inactive-background: #2c313a;
    --ui-popup-paint-border: false;
    --ui-popup-toolbar_border-color: #3d424b;
    --ui-progress-bar-failed-color: #472c33;
    --ui-progress-bar-failed-end-color: #bd3c5f;
    --ui-progress-bar-indeterminate-end-color: accentColor;
    --ui-progress-bar-indeterminate-start-color: #313469;
    --ui-progress-bar-passed-color: #2b4242;
    --ui-progress-bar-passed-end-color: #239E62;
    --ui-progress-bar-progress-color: accentColor;
    --ui-progress-bar-track-color: #1D1D26;
    --ui-run-widget-background: accentColor;
    --ui-run-widget-foreground: #eef3ff;
    --ui-run-widget-separator-color: #eef3ff;
    --ui-search-everywhere-advertiser_foreground: #5c6370;
    --ui-search-everywhere-header_background: backgroundColor;
    --ui-search-everywhere-search-field-background: #282c34;
    --ui-search-everywhere-search-field-border-color: #1b1d21;
    --ui-search-everywhere-tab-selected-background: #323844;
    --ui-search-everywhere-tab-selected-foreground: #abb2bf;
    --ui-search-match-end-background: accentColor;
    --ui-search-match-start-background: accentColor;
    --ui-settings_spotlight_border-color: accentColor;
    --ui-side-panel_background: backgroundColor;
    --ui-speed-search-background: #3d424b;
    --ui-speed-search-border-color: #3d424b;
    --ui-speed-search-error-foreground: #e06c75;
    --ui-speed-search-foreground: #abb2bf;
    --ui-status-bar_background: baseBackground;
    --ui-tabbed-pane-content-area-color: #323844;
    --ui-tabbed-pane-hover-color: #323844;
    --ui-tabbed-pane-underline-color: accentColor;
    --ui-table-background: #282c34;
    --ui-table-drop-line-color: #abb2bf;
    --ui-table-focus-cell-foreground: #abb2bf;
    --ui-table-foreground: #abb2bf;
    --ui-table-grid-color: #5c6370;
    --ui-table-light-selection-background: #414855;
    --ui-table-light-selection-foreground: #abb2bf;
    --ui-table-light-selection-inactive-background: #323844;
    --ui-table-light-selection-inactive-foreground: #abb2bf;
    --ui-table-selection-background: #3d424b;
    --ui-table-selection-foreground: #ffffff;
    --ui-table-selection-inactive-foreground: #abb2bf;
    --ui-table-stripe-color: #2c313a;
    --ui-tag_background: #3d424b;
    --ui-text-area-background: #282c34;
    --ui-text-area-selection-background: #414855;
    --ui-text-field-background: #282c34;
    --ui-text-field-selection-background: #414855;
    --ui-title-pane-inactive-info-foreground: #5C6370;
    --ui-title-pane-info-foreground: infoForeground;
    --ui-toggle-button-border-color: #3d424b;
    --ui-toggle-button-button-color: #5c6370;
    --ui-toggle-button-off-background: #3d424b;
    --ui-toggle-button-off-foreground: #9f9fa6;
    --ui-toggle-button-on-background: accentColor;
    --ui-toggle-button-on-foreground: #ffffff;
    --ui-tool-tip-background: #3d424b;
    --ui-tool-window-background: backgroundColor;
    --ui-tool-window-button-hover-background: #323844;
    --ui-tool-window-button-selected-background: #3d424b;
    --ui-tool-window-button-selected-foreground: #abb2bf;
    --ui-tool-window-header-background: #414855;
    --ui-tool-window-header-inactive-background: #323844;
    --ui-tool-window-header-tab-hover-background: #323844;
    --ui-tool-window-header-tab-hover-inactive-background: #3d424b;
    --ui-tool-window-header-tab-selected-background: #323844;
    --ui-tool-window-header-tab-selected-inactive-background: #3d424b;
    --ui-tree-modified-item-foreground: accentColor;
    --ui-tree-row-height: 20;
    --ui-tree-selection-background: #4d78cc;
    --ui-tree-selection-inactive-foreground: foregroundColor;
    --ui-validation-tooltip-error-background: #802d43;
    --ui-validation-tooltip-error-border-color: #802d43;
    --ui-validation-tooltip-warning-background: #735822;
    --ui-validation-tooltip-warning-border-color: #5f4422;
    --ui-version-control-log_commit-current-branch-background: #282c35;
    --ui-version-control-log_commit-hovered-background: #2c313c;
    --ui-version-control-log_commit-unmatched-foreground: #5c6370;
    --ui-version-control-ref-label-background-base: #5c6370;
    --ui-version-control-ref-label-background-brightness: 0.3;
    --ui-version-control-ref-label-foreground: #abb2bf;
    --ui-welcome-screen-border-color: borderColor;
    --ui-welcome-screen-details_background: backgroundColor;
    --ui-welcome-screen-projects-actions_background: #323844;
    --ui-welcome-screen-projects-selection-inactive-background: #2c313a;
    --ui-welcome-screen-separator-color: #2c313a;
    --ui-welcome-screen-side-panel_background: #282c34;
}